<app-pro-header></app-pro-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-lg-2 col-xl-2 col-sm-12 col-12">
      <div class="sticky-top">
        <app-pro-sidebar></app-pro-sidebar> 
      </div>
    </div>
    <div class="col-md-10 col-lg-10 col-xl-10 col-sm-12 col-12 body">
      <div>
        <app-pro-searchbar></app-pro-searchbar>
      </div>
      <div id="content">
        <h2>Choosed Provider List</h2>
        <div class="row"  *ngFor="let seeker of seekers; let i = index">
          <div class="col-7">
            <ul>
              <li>
                <a  (click)="goProfile(i)">{{seeker.frm.firstName}}</a>
                  <ul>
                      <li>Gender: {{seeker.frm.gender}}</li>
                      <li>City: {{seeker.frm.city}}</li>
                  </ul>
              </li>
            </ul>
          </div>
          <div class="col-2">
            <button class="btn-pro"  (click)="goProfile(i)">Chat  <span class="badge badge-danger badge-pill">1</span></button>
          </div>
          <div class="col-1">
            <button class="btn-pro">Remove</button>
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>

<!-- <ul>
      <li *ngFor="let user of users$">
        <a routerLink="/details/{{user.id}}">{{ user.name }}</a>
        <ul>
          <li>{{ user.email }}</li>
            <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
        </ul>
      </li>
    </ul> -->
