<app-home-header></app-home-header>

<div class="row">
  <div class="col-md-7">

    <div class="col-md-12 textDiv">
      <h1>Learn to <font color="#F6511D">enjoy</font> every minute of your <font color="#F6511D">life</font>.</h1>
    </div>

    <div class="row feature">
      <div class="col-md-5 provider">
        <h2>Provider</h2><br>
        <p>Do what you love. Find opportunities around you.</p>
        <div class="row"> 
          <div class="col-10">
            <a href="#" class="btn btn-sm animated-button victoria-three" routerLink="/provider_signin">Sign up as a Provider</a>
          </div>
          <div class="col-2"></div> 
        </div>
      </div><br>
      <div class="col-md-5 seeker ">
        <h2>Seeker</h2><br>
        <p>Learn to live your life. Find what you love to learn.</p>
        <div class="row"> 
          <div class="col-10">
            <a class="btn btn-sm animated-button victoria-three" routerLink="/seeker_signin">Sign up as a Seeker</a>
          </div>
          <div class="col-2"></div> 
        </div>
      </div>
    </div>

  </div><br>

  <div class="col-md-5 shad">
     <img src="./assets/img/h.jpg" height="100%" width="100%">
  </div>
</div>


<!-- 1st Quote -->
<div class="container-fluid quote">
  <div class="row">
    <div class='col-md-12 text-center'>
      <h2 id="prof">Provider's feedback </h2><br><hr><br><br><br>
    </div>
  </div>
  <div class='row'>
    <div class="col-2"></div>
    <div class='p-3 mb-2 bg-info text-white shadow-lg p-3 mb-5 rounded col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        
          <!-- Quote 1 -->
          <div class="carousel-item active">
            <blockquote class="blockquote">
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="rounded-circle" src="assets/img/CMS_Creative_164657191_Kingfisher.jpg" style="width: 100px;height:100px;"> 
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                  <footer class="blockquote-footer">Someone famous</footer>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="carousel-item">
            <blockquote class="blockquote">
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="rounded-circle" src="assets/img/23466317216_b99485ba14_o-panorama.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="carousel-item">
            <blockquote class="blockquote">
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="rounded-circle" src="assets/img/CMS_Creative_164657191_Kingfisher.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                  <footer class="blockquote-footer">Someone famous</footer>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
        
        
        <a class="carousel-control-prev" href="#quote-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#quote-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>                          
    </div>
    <div class="col-2"></div>
  </div>
</div>


<!--catagory-->
<div class="row">
    <div class='col-md-12 text-center'>
      <h2>Categories</h2><br><hr><br><br><br>
    </div>
  </div>
<div class="container-fluid catagory">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-md-8 accordian">
      <ul>
        <li>
          <div class="image_title">
            <a href="#">Athletics</a>
          </div> 
          <a href="#">
            <img src="assets/img/athletics.jpg"/>
          </a>
        </li>
        <li>
          <div class="image_title">
            <a href="#">HomeTutor</a>
          </div>
          <a href="#">
            <img src="assets/img/homeTutor.jpg"/>
          </a>
        </li>
        <li>
          <div class="image_title">
            <a href="#">Cooking</a>
          </div>
          <a href="#">
            <img src="assets/img/cooking.jpg"/>
          </a>
        </li>
        <li>
          <div class="image_title">
            <a href="#">Driving</a>
          </div>
          <a href="#">
            <img src="assets/img/driving.jpg"/>
          </a>
        </li>
        <li>
          <div class="image_title">
            <a href="#">Music</a>
          </div>
          <a href="#">
            <img src="assets/img/music.jpg"/>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<!--2nd qoutes-->

<div class="container-fluid quote">
  <div class="row">
    <div class='col-md-12 text-center'>
      <h2>Seeker's feedback</h2><br><hr><br><br><br>
    </div>
  </div>
  <div class='row'>
    <div class="col-2"></div>
    <div class='p-3 mb-2 bg-info text-white shadow-lg p-3 mb-5 rounded col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-provider">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-provider" data-slide-to="0" class="active"></li>
          <li data-target="#quote-provider" data-slide-to="1"></li>
          <li data-target="#quote-provider" data-slide-to="2"></li>
        </ol>
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        
          <!-- Quote 1 -->
          <div class="carousel-item active">
            <blockquote class="blockquote">
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="rounded-circle" src="assets/img/CMS_Creative_164657191_Kingfisher.jpg" style="width: 100px;height:100px;">
                  
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                  <footer class="blockquote-footer">Someone famous</footer>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="carousel-item">
            <blockquote class="blockquote">
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="rounded-circle" src="assets/img/23466317216_b99485ba14_o-panorama.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="carousel-item">
            <blockquote class="blockquote">
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="rounded-circle" src="assets/img/CMS_Creative_164657191_Kingfisher.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                  <footer class="blockquote-footer">Someone famous</footer>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
        
        <a class="carousel-control-prev" href="#quote-provider" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#quote-provider" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>                          
    </div>
    <div class="col-2"></div>
  </div>
</div>


<!-- footer -->
<footer class="footer_end">

  <!-- Social buttons -->
  <div class="container-fluid">
    <div class="row">
      <div class='col-md-4'>
        <h6 class="text-uppercase font-weight-bold text-center">About Us</h6><br>
        <hr class="mt-0  mx-auto" style="width: 60px; border-width: 5px; border-color:#F6511D;"><br>
        <p style="padding-left:20px;">iXora Solution Ltd.</p><br>
        <p style="padding-left: 20px; text-align: justify;">iXora Solution has a broad range of technical expertise across most major development environments, technologies and platforms. We are technology independent and propose the best solution for your specific needs and environment.
          Whether you’re building a web application, SharePoint, Office 365, mobile app, or an Enterprise application—we’ve got you covered.</p>
 
      </div>
      <div class='col-md-4'>
        <h6 class="text-uppercase font-weight-bold text-center">Contact</h6><br>
        <hr class="mt-0  mx-auto" style="width: 60px; border-width: 5px; border-color:#F6511D;"><br><br><br>
        <div style="padding-left: 30%;">
          <p><i class="fa fa-home mr-3 md"></i>Uttara, Dhaka 1230, Bangladesh </p><br>
          <p><i class="fa fa-envelope mr-3 md"></i>info@ixorasolution.com</p><br>
          <p><i class="fa fa-phone mr-3 md"></i> + 01 234 567 88</p><br>
          <p><i class="fa fa-print mr-3 md"></i> + 01 234 567 89</p>
        </div>
      </div>
        
      <div class='col-md-4 text-center icons'>
        <h6 class="text-uppercase font-weight-bold text-center">Stay Connected</h6><br>
        <hr class="mt-0  mx-auto" style="width: 60px; border-width: 5px; border-color:#F6511D;"><br><br><br><br><br>
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fa fa-facebook mc"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fa fa-twitter mc"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fa fa-google-plus mc"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fa fa-linkedin mc"> </i>
            </a>
          </li>
        </ul>
          <!-- Social buttons -->
      </div>
    </div>
  </div><br><br><br>

  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class='col-md-12 text-center footer_bottom'><a>© 2018 Copyright:</a>
    <a> iXora Solution Ltd.</a>
  </div>
  <!-- Copyright -->
</footer>
