<app-admin-header></app-admin-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-lg-2 col-xl-2 col-sm-12 col-12">
      <div class="sticky-top" >
        <app-admin-sidebar></app-admin-sidebar> 
      </div>
    </div>
    <div class="col-md-10 col-lg-10 col-xl-10 col-sm-12 col-12 body">
      <div class="container">
        <div class="row">
          <div class="col-md-6"><br>
            <span class="label rounded-left" style="padding:15px;">Profile of Mahbuba Rahman Moushumi</span>
          </div>
        </div><br>

        <!-- image and name of user -->
        <div class="row">
          <div class="col-md-2 proImg">
            <img src="assets/img/demo.jpg" width="100%" height="70%"><br><br>
            <div class="row">
              <div class="col-12">
                <h5>Mahbuba Rahman</h5>
              </div>
            </div>
          </div>


          <!-- Basic information of user -->
          <div class="col-md-4 basic_info">
            <h4>Basic Information:</h4><hr>
            <div class="row">
              <div class="col-md-5">
                <p>Age:</p>
              </div>
              <div class="col-md-6">
                <p>25</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <p>Gender:</p>
              </div>
              <div class="col-md-6">
                <p>Female</p>
              </div>
            </div>     
            <div class="row">
              <div class="col-md-5">
                <p>SSN:</p>
              </div>
              <div class="col-md-6">
                <p>BW0923965</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <p>User Type:</p>
              </div>
              <div class="col-md-6">
                <p>Seeker</p>
              </div>
            </div>
          </div>


          <!-- Contact details of user -->
          <div class="col-md-4 contact">
            <h4>Contact Information:</h4><hr>
            <div class="row">
              <div class="col-md-4">
                <p>E-mail:</p>
              </div>
              <div class="col-md-6">
                <p>shahnajsaika@gmil.com</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p>Contact no:</p>
              </div>
              <div class="col-md-6">
                <p>01683-115419</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p>Address:</p>
              </div>
              <div class="col-md-6">
                <p>Dhaka Cantonment</p>
              </div>
            </div>       
          </div>
          <div class="col-md-2">
            <!-- blank -->
          </div>
        </div>


        <!-- Profession and Interest of user -->
        <div class="row" style="padding-top:20px; padding-left:25px;">
          <div class="col-2"></div>
          <div class="col-md-8 prof">
            <h4>Profession and Interest:</h4><hr>
            <div class="row">
              <div class="col-md-4">
                <p>Profession:</p>
              </div>
              <div class="col-md-6">
                Computer Engineer.
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p>Interest:</p>
              </div>
              <div class="col-md-6">
                <p>Web Development</p>
                <p>Web Designing</p>
                <p>Software Development</p>
                <p>Database Management</p>
                <p>Management Information System</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <!-- blank -->
          </div>
        </div>


        <!-- Additional information of user -->
        <div class="row" style="padding-top:20px; padding-left:25px;">
          <div class="col-2"></div>
          <div class="col-md-8 add">
            <h4>Additional Information:</h4><hr>
            <div class="row">
              <div class="col-md-4">
                <p>Date of Birth:</p>
              </div>
              <div class="col-md-6">
                18/12/1996
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p>Price Rate:</p>
              </div>
              <div class="col-md-6">
                500/= (per hour)
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p>Zip code:</p>
              </div>
              <div class="col-md-6">
                <p>1206</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p>City:</p>
              </div>
              <div class="col-md-6">
                <p>Dhaka</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p>Country:</p>
              </div>
              <div class="col-md-6">
                <p>Bangladesh</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <!-- blank -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>