.brand{
    font-size: 1.2rem;
     
}

h5{
    color:white;
}

h5:hover {
    color: #e0e2df;
}

.bg-clr{
    background-color: #F6511D;
}

.navbar-nav a{
    color: white !important;
  }
  .dropdown-menu a{
    color: grey !important;
  }