
<nav class="navbar navbar-expand-lg bg-clr navbar-dark response">
  <a class="navbar-brand" routerLink="/home" style="padding-left: 20px;">Trabajo</a>
  <button class="navbar-toggler btn-color" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ulcolor">
      <li class="nav-item active">
        <a class="nav-link color-me" routerLink="/home" >Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse ml-auto" id="navbarNav">
    <ul class="navbar-nav ulcolor ml-auto">
      <li class="nav-item">
        <a class="nav-link color-me" routerLink="/signin" >Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color-me" routerLink="/signup" >Sign up</a>
      </li>
    </ul>
  </div> 
</nav>