<app-nav-bar></app-nav-bar>

<div class="row">
  <div class="col-md-7 col-lg-7 col-sm-12 col-xm-12">
    <img class="logo" src="./assets/img/logo.png" alt="" width="50%" height="25%">
    <div class="col-md-12 textDiv">
      <h1>Learn to <font color="#F6511D">enjoy</font> every minute of your <font color="#F6511D">life</font>.</h1>
    </div>
  </div>
  <div class="col-md-5 col-lg-5 col-sm-12 col-xm-12 rgt">
    <div class="row div1">
      <div class="col-12">
        <h3>Sign In</h3>
      </div>
    </div>
    <div class="div2">
      <div class="container form" style="padding-top:20px;">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12"> 
            <h4 style="padding-top:20px;">Provider</h4>
              <p>Do what you love. Find opportunities around you.</p>  
              <a href="#" class="btn btn-sm animated-button thar-three" routerLink="/provider_signin">Sign in as a Provider</a> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:50px;"> 
            <h4 style="padding-top:20px;">Seeker</h4>
              <p>Learn to live your life. Find what you love to learn.</p>
            <a href="#" class="btn btn-sm animated-button thar-four" routerLink="/seeker_signin">Sign in as a Seeker</a> 
          </div>
        </div>

      </div>
    </div><br><br>
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12 col-xm-12">
        <label><br></label>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-12 col-xm-12">
        <label><br>Not Registered Yet? <a routerLink="/signup">get registered.</a></label>
      </div>
    </div>
  </div>
</div>
