.div1{
    text-align: center;
    background:#fdfdfd;
    padding-top: 20px;
    padding-bottom: 40px;
}

h1{
    color:#17a0b6;
    font-size: 1.75rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.div2{
    padding-left: 100px;
    padding-right: 100px;
}

.container-fluid{
    padding-top: 55px;
}

.body{
    padding-left: 0px;
    padding-right: 0px;
}