input.ng-valid,input.ng-untouched{
    border-left: 5px solid #42A948; /* green */
  }
  
  input.ng-invalid{
    border-left: 5px solid #a94442; /* red */
  }

//   .ng-invalid:not(form)  {
//     border-left: 5px solid #a94442; /* red */
//   }
 

.txtbx{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

// .txtbx:focus {
//     border: 3px solid #555;
// }

.div1{
    text-align: center;
    background:#17a0b6;
    padding-top: 40px;
    padding-bottom: 60px;
}

.term{
    padding-left: 20px;
    padding-right: 50px;
}

.term1{
    padding-left: 30px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h1{
    color:white;
    font-size: 1.75rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.rgt{
    padding-bottom: 10px;
    box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.2), 0 0px 50px 0 rgba(0, 0, 0, 0.19);
}

// @media (min-width: 1200px) {
//     .div1{
//         align-items: center;
//         max-width: 950px;
//     }
// }