<div class="row">
  <div class="col-12">

      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <form class="form-inline" action="">
            <h5>Search: </h5>
            <input class="form-control mr-sm-2" type="text" placeholder="Name" size="20">
            <div class="input-group" style="padding-right:8px;">
                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Gender" size="16">
                <div class="input-group-append">
                  <button class="btn btn-outline-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" size="8"></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">Male</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item">Female</a>
                  </div>
                </div>
              </div>
            <input class="form-control mr-sm-2" type="text" placeholder="City" size="20">
            <input class="form-control mr-sm-2" type="text" placeholder="Profession" size="20">
          </form>
        </nav>

</div>
</div>
