<app-pro-header></app-pro-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-lg-2 col-xl-2 col-sm-12 col-12">
      <div class="sticky-top">
        <app-pro-sidebar></app-pro-sidebar> 
      </div>
    </div>
    <div class="col-md-10 col-lg-10 col-xl-10 col-sm-12 col-12 body">
      <div class="container">
        <div class="row">
          <div class="col-md-6"><br>
            <span class="label rounded-left" style="padding:15px;">Mahbuba wants to book you</span>
          </div>
        </div><br><br>
        <div class="row">
          <div class="col-10">
            <div class="chatbox">
              <div class="chatlogs">
                  <div *ngFor="let message of profile; let i = index">
                      <div class="chat self" *ngIf="userInfo.id==message.frm ||userInfo.id==message.frm.id; else other_content" >
                        <div class="user-photo"><img src="assets/img/demo.jpg"></div>
                        <p class="chat-message">{{message.messageText}}</p>
                      </div>
                      <ng-template #other_content>
                        <div class="chat friend">
                        <div class="user-photo"><img src="assets/img/demo.jpg"></div>
                        <p class="chat-message">{{message.messageText}}</p>
                        </div>
                      </ng-template>
                </div> 
              </div>
              <div class="chat-form">
                  <textarea #userInput type="text"></textarea>
                  <button class="chatbutton" (click)="sentMessage(userInput.value)">send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>