<app-seeker-header></app-seeker-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-lg-2 col-xl-2 col-sm-12 col-12">
      <div class="sticky-top">
        <app-seeker-sidebar></app-seeker-sidebar> 
      </div>
    </div>
    <div class="col-md-10 col-lg-10 col-xl-10 col-sm-12 col-12 body">
      <div>
        <app-seeker-searchbar></app-seeker-searchbar>
      </div>
      <div id="content">
        <h2>List of all Provider</h2>
        <div class="row" *ngFor="let provider of providers; let i = index">
          <div class="col-8" >
              <!-- <div (click)="viewProfile(i)">
                </div> -->
              <ul>
                  <li>
                    <a (click)="goProfile(i)" >{{provider.firstName}}</a>
                    <ul>
                      <li *ngIf="providers?.length">
                          Profession:{{ provider.profession}}
                      </li>
                      <li>Rating: {{provider.rating}}</li>
                    </ul>
                  </li>
              </ul>
            <!-- <ul>
              <li>
                <a routerLink="/seeker_choosePage">Shaharin Pushpa</a>
                <ul>
                  <li>Profession: Physics Teacher</li>
                  <li>Rating: 4.5/5</li>
                </ul>
              </li>
            </ul> -->
          </div>
          <div class="col-2">
            <button class="btn-pro" (click)=goProfile(i)>View Profile</button>
          </div> 
        </div>      
      </div>
    </div>
  </div>
</div>

<!-- <ul>
      <li *ngFor="let user of users$">
        <a routerLink="/details/{{user.id}}">{{ user.name }}</a>
        <ul>
          <li>{{ user.email }}</li>
            <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
        </ul>
      </li>
    </ul> -->
