.rgt{
    background-color:white;
    padding-bottom: 50px;
    box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.2), 0 0px 50px 0 rgba(0, 0, 0, 0.19);
    // -webkit-box-shadow: 0 -8px 50px 6px black;
	//    -moz-box-shadow: 0 -8px 50px 6px black;
	//         box-shadow: 0 -8px 50px 6px black;
}

h3{
    color:white;
    font-size: 1.75rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.div1{
    background:#17a0b6;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: center;
}

.txtbx {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    // border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
