<div class="row">
  <div class="col-12">

      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <form class="form-inline" action="">
            <h5>Search: </h5>
            <input class="form-control mr-sm-2" type="text" placeholder="Name" size="16">
            <div class="input-group" style="padding-right:8px;">
              <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Gender" size="10">
              <div class="input-group-append">
                <button class="btn btn-outline-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" size="8"></button>
                <div class="dropdown-menu">
                  <a class="dropdown-item">Male</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item">Female</a>
                </div>
              </div>
            </div>
            <input class="form-control mr-sm-2" type="text" placeholder="Profession" size="16">
            <input class="form-control mr-sm-2" type="text" placeholder="City" size="16">
            <input class="form-control mr-sm-2" type="text" placeholder="Rating" size="16">
          </form>
        </nav>

<!-- <form name="registration_form" id="registration_form" class="form-horizontal">
  <div class="form-group">
        <div class="col-sm-2">
          <label for="firstname" class="sr-only"></label>
          <input id="firstname" class="form-control input-group-lg reg_name" type="text" name="firstname" title="Enter first name" placeholder="First name">
        </div>       
        <div class="col-sm-2">
          <label for="lastname" class="sr-only"></label>
          <input id="lastname" class="form-control input-group-lg reg_name" type="text" name="lastname" title="Enter last name" placeholder="Last name">
        </div>
 </div>
</form> -->
</div>
</div>
